*{
    margin: 0;
    padding: 0;
}
body{
    margin: 60px;
}
.card{
    width: 200px;
    height: 200px;
    position: relative;
    border-bottom: 6px solid green;
    padding: 15px;
    background: -webkit-linear-gradient(transparent 50%,green 50%);
    background-size: 200px 500px;
    transition: 1s;
    border-radius: 7px;
    
}
.card:hover{
    color: white;
    background-position: 0 -270px;
}

.card h3{
    margin-bottom: 10px;
    font-weight: 800;

}